.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--white);
    -webkit-box-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
    /* background: linear-gradient(to top, white 119px, var(--cloud-color) 119px); */
  }
  
  .main .heading {
    font-size: 4.4rem;
    line-height: 5.6rem;
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    font-family: var(--main-font-family);
    font-weight: 700;
    text-align: center;
  }
  
  .main .description {
    font-family: var(--main-font-family);
    font-size: 1.8rem;
    line-height: 28px !important;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 15px;
  }
  @media screen and (max-width:768px) {
    .main .description {
      line-height: 24px !important;
    }
  }
  .bottomText{
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    margin-top: 14px !important;
    margin-bottom: 40px !important;
  }
  @media screen and (max-width:768px) {
    .main .heading{
      font-size: 2.8rem;
      line-height: 3.6rem;
    }
  }