.h1 {
    font-family: var(--font-family);
    font-size: 5.5rem;
    line-height: 1.3;
    font-weight: var(--font-weight);
    color: var(--dark-grey);
}
.p {
    font-family: var(--main-font-family);
    text-align: center;
    font-size: 1.4rem;
    line-height: 28px;
    font-weight: var(--font-weight);
    color: var(--dark-grey)
}

@media screen and (max-width: 768px) {
    .h1 {
        font-size: 2.8rem;
        line-height: 36px;
    }
}